@import "../../styles/variables";

body {
    .navbar {
        #dropdown-autoclose-outside {
            font-size: 16px;
            color: $white;
            border: none;
            background-color: $blue;
        }
        .menu {
            background-color: #0bbad9;

            a {
                color: $white;
                border-bottom: 1px solid $white;
            }
        }
    }
}
